body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

#mountain{
    width: 35%;
}
h2{
    margin: 0;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    
    font-weight: normal;
    line-height: 3;
    font-size: 2rem;
    
} 
h3{
    margin: 0;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    
    
}
.middle-container{
    margin: 50px auto;
}

h1{
  
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    margin: 2em auto 0 auto;
    
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    
}

.top{
    background-color:#EAF6F6;
    position: relative;
    padding-top: 3em;
    
    
}
.boy1{
    width: 15%;
    float: left;
    margin-left: 20%;
}

.top-cloud{
    width: 15%;
    position: absolute;
    right: 10em;
    top: 4em;
}
.bottom-cloud{
    width: 15%;
    position: absolute;
    left: 15em;
    bottom: 22rem;

}

.footer-link{
    padding: 1em;
    
    
}
.footer-link1{
    padding: 1em;
    
}
.skill-row1{
    margin: 3em auto 6em auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.skill-row2{
    margin: 100px auto 100px ;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.chill{
    width: 25%;
    float: left;
    padding-right: 2em;
}
.comp{
    width: 25%;
    float: right;
    padding-left: 2em;

}
hr{
    width: 10%;
    border: dotted 0.8em;
    color: gray;
    border-bottom: none;
}
.bottom-container{
    padding-top: 2em;
    background-color: #66BFBF;
    padding-bottom: 1.2em;
    position: relative;
    margin-bottom: 0px;


}
.butt{
    color:white;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 0.6em;
    background-color:#3D94F6; 
    padding: 0.6em;
    
}
.butt:hover{
    background-color: lightcoral;
}
.mmm{
    margin-top: 2em;
    margin-bottom: 0px;
    font-size: 0.7rem;
    color: lightcyan;
}
.par{
    margin: 4em auto 8em ;
    width: 30%;
    line-height: 2; 
}