body{
    margin: 0;
}
ul li{
    display: inline-block;
    border: none;
    border-left: 1px solid black;
    padding: 0 10px;
}
ul :nth-of-type(1){
    border: none;
}
h1{
    margin-left: 0.5em;

}
img{
    width: 300px;
    height: 200px;
    border-right: 4px solid red;
    margin: 1em;
    background-color:orange;
    background-clip:padding-box ;
    padding: 5px;
}
img:hover{
    border-color:teal;
    background-color: cyan;
    cursor: pointer;
}
input[type="text"]{
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    border:  1px solid;
    border-top: 5px solid gray;
}
input[type="password"]{
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    border:  1px solid;
}
button{
    display: inline-block;
    margin-bottom: 0.5em;
    width: 100%;
    
    padding: 5px 15px;
    background-color:rgb(70, 70, 173);
    color: wheat;
}
button:hover{
    background-color: turquoise;
}
div{
    width: 35%;
    margin-left: 1em;
}