body{
    font-family: 'Poppins', sans-serif;
}



/* navbar */

.navbar-toggler{
    outline: none !important;

}
.toggler-icon{
    font-size: 2.5rem;
    color: #ffafcc;
}
.nav-link{
    color: #ffafcc;
    transition: all .3s;
    font-size: 1.5rem;
}
.nav-link:hover{
    color: #cdb4db;
}
.cart-info__icon{
    color: #22223b ;
    cursor: pointer;
}
.cart-info{
    border: 3px solid #22223b;
    color: #22223b ;
    padding: .3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}
.cart-info:hover{
    background-color:#ffc8dd ;
    border-color: #ffafcc;
    color: #fff;
}
.cart-info:hover .cart-info__icon{
    color: #cdb4db;

}

/* header */


.max-height{
    min-height: calc(100vh - 90px);
    background: url(../img/back-2.jpg)top/cover no-repeat fixed;
    position: relative;
    
  
}
.max-height h1{
    font-weight: 900;
    color: #2284e6;
    font-size: 4rem;
    letter-spacing: 3px;
}
.emhpsize{
    color: #ffc8dd;

}

.banner-link{
    font-size: 1.5rem;
    color: #ffc8dd;
    border: 3px solid #ffafcc;
    background-color: #ffc8dd3f;
    letter-spacing: 1px;
    border-radius: 10px;

}
.btn-black{
      font-size: 1.5rem;
    color: #22223b;
    border: 3px solid #1b1316;
    background-color: #ffc8dd3f;
    letter-spacing: 2px;
    border-radius: 10px;

    
}
.btn-black:hover{
    background-color:#22223b;
    color: #fff;
}

.banner-link:hover{
    color: #fff;
    background-color:#ffc8ddab ;
}

/* about */

.about-p{
    line-height: 2;
    letter-spacing: 1px;
}

.about-btn{
    font-size: 1rem;
    color: #ffc8dd;
    border: 3px solid #ffafcc;
    background-color: #ffc8dd3f;
    letter-spacing: 2px;
    border-radius: 10px;
}
.about-btn:hover{
     color: #fff;
    background-color:#ffc8ddab ;
    outline-style: ;

}
.about-img__container{
    position: relative;
}
.about-img__container::before{
    content: "";
    position: absolute;
    top:-1.5rem;
    left:-1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid #ffafcc ;
    outline-style:double;
    z-index: -1;
    transition: all .3s;
}
.about-img__container:hover::before{
    top:0;
    left: 0;
    opacity: .2;
}
/* store */

.store{
    background-color: #cdb4db ;
}
.search-box{
    background-color: #ffafcc;
}
.single-item{
    transition: all .3s;
}
.single-item:hover{
    box-shadow: 0 .8rem 1rem ;
}
.img-container{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.store-img{
    transition: all .3s;
}


.img-container:hover .store-img{
    transform: scale(1.1);
    filter:contrast(1.1)

}
.store-item-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background-color: #a2d2ff;
    border-top-left-radius: 1rem ;
    transition: all .3s;
    transform: translate(100%,100%);
}
.store-item-icon:hover{
    color: #ffc8dd;
}
.img-container:hover .store-item-icon{
    transform: translate(0);
}
/* setrice */
.services{
    color: #fff;
    background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(168,15,62,0.1856092778908438) 100%), url(../img/services.jpg)center/cover no-repeat fixed;
}
.service-title{
    letter-spacing: 3px;
}

/* footer */
.footer-title{
    background-color: #cdb4db;

}
.footer-contact {
    background-color: #ffc8ddab;
}

.footer-icon{
    font-size: 2.5rem;
    color: #fff;
    transition: all .4s;
}

.footer-icon:hover{
    color: #a2d2ff;
}


/* cart */

.btn-black{
    font-size: 1rem;
    color: #22223b;
    border: 3px solid #1b1316;
    background-color: #ffc8dd3f;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 0.3rem;
    transition: all .3s;

    
}
.btn-black:hover{
    background-color:#22223b;
    color: #fff;
    text-decoration: none;
}
.banner-link-pink{
    font-size: 1rem;
    color: #cdb4db;
    border: 3px solid #ffafcc;
    background-color: #ffc8dd3f;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: all .4s;
    padding: 0.3rem;
    

}
.banner-link-pink:hover{
    color: #fff;
    background-color:#ffc8ddab ;
    text-decoration: none;
}
.cart{
    position: absolute;
    min-height: 10rem;
    background: rgba(255, 241, 241, 0.815);
    top:0;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: all .5s;
}
.show-cart{
    width: 18rem;
    padding: 1rem;
    transform: rotate(360deg);
    

}
.cart-item-remove{
    color: #ffafcc;
    transition: all .2s;

}
.cart-item-remove:hover{
    transform: scale(1.3);
    color: #22223b;
}
.cart-item-price{
    font-size: 0.8rem;
}
.cart-item{
    transition: all .4s
}